body {
    background-color: black;
    width: 100%;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%
}

h1 {
    text-align: center;
    font-size: 200%;
    margin: 0;
    text-shadow: 0px 0px 15px #fff;
}

.fejlec {
    background-image: url(../image/fejlec.png);
    background-position: top center;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.topnav {
    background-color: black;
    color: white;
    margin: auto;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.topnav div {
    display: inline-block;
    margin-left: 15px;
}

.topnav div a {
    color: white;
    text-decoration: none;
    font-size: 150%;
    padding: 10px 15px;
    display: inline-block;
}

.topnav div a:hover {
    text-decoration: overline;
}

.topnav div a:active {
    text-decoration: underline;
}

.topnav div a:focus,
.topnav div a.active {
    background-color: white;
    border-radius: 10px;
    color: black;
}

.topnav div:first-child {
    margin-left: 0;
}

@media (max-width:600px) {
    .topnav div {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        margin-left: 0;
    }

    .topnav div:first-child {
        margin-top: 0;
    }
}

/** menü vége **/
/** content **/
.container {
    background-color: white;
    margin: 0 auto 20px;
    text-align: center;
    font-size: 120%;
    padding: 0 5% 10px;
    display: inline-block;
    /*width: 100%;
    box-sizing: border-box;*/
}

.banner {
    height: auto;
    width: 100%;
}

.index {
    display: block;
    width: 100%;
}

.index-img {
    float: left;
    width: 50%;
}

.img {
    width: 90%;
    padding: 5%;
}

h3 {
    text-align: center;
    padding: 20px 0;
    font-size: 140%;
}

.promt {
    width: 90%;
    padding: 5%;
    margin: auto;
}

.inkt-ruls {
    text-align: left;
    margin-left: 35%;
    margin-right: auto;
}


.img-jake {
    width: 12%;
    float: right;
}

.jake {
    padding: 5%;
}

/** galéria **/

/** galéria vége **/
/** regisztráció és feltöltés **/

fieldset {
    border-radius: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    padding: 2%;
}

legend {
    font-size: 140%;
    font-weight: bold;
}

label {
    font-size: 120%;
}

input {
    display: block;
    width: 90%;
    margin-bottom: 20px;
    font-size: 120%;
    margin: auto;
}

.btn-submit {
    background-color: #599bb3;
    border-radius: 8px;
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 32px;
    text-decoration: none;
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #000000 5%, #01161a 100%);
}

.btn-submit:hover {
    text-decoration: overline;
}

.btn-submit:active {
    text-decoration: underline;
}

/** regisztráci és feltöltés vége**/

/** Galéria **/
.gallery {
    display: grid;
    grid-template-columns: auto;
    row-gap: 20px;
    column-gap: 10px;
}

.gallery:hover .gallery-item {
    opacity: 0.4;
}

.gallery-item {
    border: 1px solid #eee;
    border-radius: 5px;
    float: left;
    margin: 10px 1%;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
}

.gallery:hover .gallery-item:hover {
    opacity: 1;
    border-color:royalblue
}

.gallery-item .title {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

.gallery-item .image-container {
    height: 200px;
    text-align: center;
}

.gallery-item .image-container img {
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
}

.gallery-item .creator {
    float: left;
    width: 100%;
    padding: 5px;
    color: #888;
    text-align: right;
    box-sizing: border-box;
}
/** Galéria vége **/

/** content vége **/
/**footer**/
footer {
    color: white;
    margin: Auto;
    display: block;
    width: 100%;
}

.footer-col {
    float: left;
    width: 50%;
}

footer li {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: rgb(88, 87, 87);
}

footer .social {
    width: 50px;
    display: inline-block;
}


/* reszponzív */
@media only screen and (min-width: 769px) {

    footer,
    .content {
        max-width: 760px;
    }

    .gallery {
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 991px) {
    body {
        font-size: large;
    }
}

@media only screen and (min-width: 992px) {

    footer,
    .container {
        max-width: 990px;
    }

    .gallery {
        grid-template-columns: auto auto auto;
    }
}

@media only screen and (min-width: 1201px) {

    footer,
    .container {
        max-width: 1400px;
    }

    .gallery {
        grid-template-columns: auto auto auto auto auto;
    }
}

@media only screen and (min-width: 1981px) {

    footer,
    .container {
        max-width: 1900px;
    }

    .gallery {
        grid-template-columns: auto auto auto auto auto auto auto;
    }
}